
{% extends "index.html" %}
{%  block content %}
<div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="{% if tab != 'popular'%}active{% endif %}"><a href="#tab1" data-toggle="tab">Новые</a></li>
        <li class = "{% if tab == 'popular' %}active{% endif %}"><a href="#tab2" data-toggle="tab">Популярные</a></li>
        {% if user.is_authenticated %}<li class="pull-right "><button href="#myModal" class="btn btn-inverse" data-toggle="modal">Спросить!</button></li>{% endif %}
      </ul>
    <div class="tab-content">
        <div class="tab-pane {% if tab != 'popular' %}active{% endif %}"  id="tab1">
            {% include "question_d.html" %}
        </div>
        <div class="tab-pane {% if tab == 'popular' %}active{% endif %}" id="tab2">
            {% include "question_p.html" %}
        </div>
    </div>
</div>
{% endblock %}
